Modelos/model_epoch_1.pth
Modelos/model_epoch_3.pth
Modelos/model_epoch_8.pth
Modelos/model_epoch_11.pth
Modelos/model_epoch_19.pth
Modelos/model_acc_97.40.pth
Modelos/model_acc_97.97.pth
Modelos/model_acc_98.14.pth
Modelos/modelFinal.pth
TrainingHistory/training_history.png
Modelos/model_acc_95.09.pth
Modelos/model_acc_95.20.pth
Modelos/model_acc_95.65.pth
Modelos/model_acc_95.94.pth
Modelos/model_acc_95.99.pth
Modelos/model_acc_96.67.pth
Modelos/model2_acc_98.14.pth
{env_name}/
__pycache__/